<?xml version="1.0"?>

<launch>

    <!-- Start World -->
    <include file="$(find autonomous_turtlebot3_swarm)/launch/start_world.launch">
        <arg name="world_name" value="$(find autonomous_turtlebot3_swarm)/worlds/urban.world"/>
    </include>

    <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" >
        <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
    </include>

    

</launch>